@import "tailwindcss";

@layer base {
    html {
        font-family: "Poppins", "System-ui";
        @apply dark:bg-[#0C2D57] dark:text-white;
    }
    input[type="password"] {
        @apply dark:text-black;
    }
}

.has-submenu {
}

.has-submenu ul {
    transition-property: opacity, transform, visibility, color;
    transition-duration: 0.4s;
    visibility: hidden;
    opacity: 0;
}

.has-submenu:hover ul {
    visibility: visible;
    opacity: 1;
}
